<ion-view view-title="{{title}}">
<ion-nav-bar class = "bar-stable">
   <ion-nav-back-button class = "button-clear" ng-click = "goBack()">
      <i class = "icon ion-arrow-left-c"></i> Back
   </ion-nav-back-button>
</ion-nav-bar>
  <ion-content>
    	<div class="row unlimited-items">
            <div class="col card" ng-repeat="category in items track by $index" ng-click="showStories(category.parent_id,category.id, category.name)">
                  <div class="item item-image">
                    <img class="card-image" src="http://182.71.155.142:8888/demo/news/public/images/categories/1/{{category.saved_file_name}}">
                  </div>
                  <div class="item assertive no-white-space" href="#">
                    {{category.name}}
                </div>
            </div>
        </div>
  </ion-content>
</ion-view>
