<ion-view view-title="{{title}}">
<ion-nav-bar class = "bar-stable">
   <ion-nav-back-button class = "button-clear" ng-click = "goBack()">
      <i class = "icon ion-arrow-left-c"></i> Back
   </ion-nav-back-button>
</ion-nav-bar>
  <ion-content>
        <ion-refresher
          pulling-text="Pull to refresh..."
          on-refresh="doRefresh()">
        </ion-refresher>
    	  <div class="list card" ng-repeat="l in news">
          <div class="item item-thumbnail-left" ng-click="nlc.viewDetail(l)">
            <img src="http://182.71.155.142:8888/demo/news/public/images/stories/{{l.saved_file_name}}">
            <h2>{{l.title}}</h2>
            <p ng-bind-html="l.content"></p>
          </div>
          </div>
          <div ng-if="!news.length">
            <p class="empty">Nothing Here! Come back later.</p>
          </div>
  </ion-content>
</ion-view>
