<ion-view>
  <ion-header-bar>
    <h1 class="title">Verify</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Recieved OTP</span>
          <input type="text" ng-model="user.otp">
        </label>
        <label class="item">
          <button class="button button-block button-balanced" type="submit", ng-click="onSubmit(user)">Submit</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
