<ion-view>
  <ion-header-bar>
    <h1 class="title">Welcome</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="user.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Mobile No</span>
          <input type="number" ng-model="user.mobileNo">
        </label>
        <label class="item">
          <button class="button button-block button-balanced" type="submit" ng-click="onSubmit(user)">Get OTP</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
