.row.unlimited-items {
  flex-wrap: wrap;
}

.row.unlimited-items .col{
  flex: none;
  width: 43%;
}

/*Categories*/
.card-image {
    width:100%;
    height:200px;
    padding:0px;
    margin:0px;
    background-position:center;
    background-repeat:no-repeat;
    position:relative;
    overflow:hidden;
}

.card-manual {
	background:#FFF;
    border:1px solid #AAA;
    border-bottom:3px solid #BBB;
    margin-left: auto;
    margin-right: auto
    overflow:hidden;
}

.no-white-space {
	white-space: normal !important;
}

.empty {
    top: 30;
    text-align: center;
    color: gray;
}